@import '../../styles/baseStyles.module.scss';

.modalBlocker{
    background-color: var(--color-bg-backdrop);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal{
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 12px 20px 20px 20px;
    background-color: var(--color-bg-canvas);
    @media screen and (min-width: '600px') {
        border-radius: 8px;
      }
}

.modalTitle{
    font-weight: 600;
    margin-bottom: 8px;
    width: calc(100% - 40px);
    font-size: large;
}

.closeX{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}