@import '../../styles/baseStyles.module.scss';

.modalBlocker {
    background-color: var(--color-bg-backdrop);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 12px 20px 12px 20px;
    background-color: var(--color-bg-canvas);
    @media screen and (min-width: '600px') {
        border-radius: 8px;
    }
}

.modalTitle {
    font-weight: 700;
    padding-right: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: large;
    min-height: 20px;
    overflow-wrap: break-word;
    position: relative;
}

.closeX {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

.confirmDialogWrapper {
    background-color: var(--color-bg-canvas);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.confirmTitle {
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 20px;
}

.confirmDialog {
    display: flex;
    justify-content: center;
    width: 100%;
    // position: absolute;
    // bottom: 0px;
}

.dialogBtn {
    margin: 8px;
}
