.modalSection{
    margin: 8px 0px;
}
.sectionLabel{
    font-weight: 600;
    margin-bottom: 4px;
}

.deleteContainer{
    margin-top: 8px;
    .sectionValue{
        margin: 8px 0px;
    }
    input{
        height: 32px;
        width: 220px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

