// App level styles
body {
    background-color: var(--color-bg-canvas);
    color: var(--color-text-primary);
    width: 100%;
}
* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

a {
    color: var(--color-text-primary);
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
    font-size: 16px;
}
