// App level styles
body{
    background-color: var(--color-bg-canvas);
    color: var(--color-text-primary);
    width: 100%;
}
*{
    box-sizing: border-box;
}

a{
    color: var(--color-text-primary);
}