@import '../../styles/baseStyles.module.scss';

.profileWrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
    position: relative;
    th,
    td {
        padding: 8px 0px;
    }
}

.profilePicture {
    border-radius: 50%;
}

.homeLink {
    position: absolute;
    top: 20px;
    right: 20px;
    a {
        color: var(--color-text-primary);
    }
}

.profileBtn {
    margin: 20px 0px;
}
