@import '../../styles/baseStyles.module.scss';

.loading {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.postWrapper {
    width: 100%;
    max-width: 800px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 20px 12px;
}

.postNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .copyBtn {
        position: relative;
        .clickInfo {
            margin-top: 4px;
            position: absolute;
            font-size: small;
            text-align: center;
            width: 100%;
        }
    }
}
