@import '../../styles/baseStyles.module.scss';

.section{
    input{
        width: 200px;
    }
    margin: 16px 0px;
}

.submitButton{
    display: block;
    margin-top: 8px;
}

.error{
    color: red;
}

.error{
    margin-top: 8px;
}

.success{
    margin-top: 8px;
    color: green;
}