.section{
    input{
        width: 200px;
    }
}

.submitButton{
    display: block;
    margin-top: 8px;
}

.error{
    color: red;
}

.error{
    margin-top: 8px;
}

.success{
    margin-top: 8px;
    color: green;
}