@import '../../../../styles/baseStyles.module.scss';

.deleteContainer {
    margin-top: 8px;
    .confirmInput {
        display: block;
        height: 32px;
        width: 232px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .deleteBtn {
        display: block;
    }
}

.successMessage {
    margin-top: 16px;
}
