@import '../../styles/baseStyles.module.scss';

// Override margin bottom (this scope only)
._modalSection {
    margin-bottom: 8px;
}

.postDetailsWrapper {
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    min-height: 200px;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
}

.meta {
    display: flex;
    .author {
        font-weight: 600;
        margin-right: 8px;
    }
}

.title {
    font-weight: 600;
}

.ratingWrapper {
    display: flex;
    justify-content: center;
}

.tagWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px 0px;
    .tag {
        background-color: var(--color-topic-tag-bg);
        border-radius: 6px;
        margin: 4px;
        padding: 5px 12px;
        display: flex;
    }
}

.postDetails {
    flex-grow: 1;
    overflow: scroll;
    border-radius: 4px;
    background-color: var(--color-bg-canvas-inset);
    padding: 8px;
    &::-webkit-scrollbar {
        width: 0px; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
    }
}

.link {
    width: fit-content;
    color: var(--color-text-link);
}

.footer {
    flex-direction: row;
    width: 100%;
    display: flex;
    margin-top: 8px;
    height: 42px;
    .replyWrapper {
        height: 42px;
        width: 100%;
    }

    .postControls {
        width: 80px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        .control {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border-radius: 4px;
            padding: 4px;
            &.edit {
                padding: 6px;
                color: var(--color-btn-primary-text);
                &:hover {
                    color: var(--color-btn-danger-hover-text);
                    background-color: var(--color-btn-primary-hover-bg);
                    border-color: var(--color-btn-primary-hover-border);
                }
            }
            &.delete {
                color: var(--color-btn-danger-text);
                &:hover {
                    color: var(--color-btn-danger-hover-text);
                    background-color: var(--color-btn-danger-hover-bg);
                    border-color: var(--color-btn-danger-hover-border);
                }
            }
        }
    }
}
