@import '../../styles/baseStyles.module.scss';

.panelBlocker {
    background-color: var(--color-bg-backdrop);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

.communitySelector {
    width: 80%;
    max-width: 300px;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--color-bg-canvas);
    padding: 16px;
    &::-webkit-scrollbar {
        width: 0px; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
    }
}

.activeCommunity {
    display: flex;
    flex-direction: column;

    .communityName {
        margin: 0px;
        margin: 4px 0px;
        font-size: 1.1em;
    }

    .roomName {
        font-weight: 700;
        margin: 4px 0px;
    }

    .communityCode {
        font-style: italic;
        margin: 4px 0px;
    }
}

.communityOption,
.room {
    margin: 4px;
}

.joinCreateContainer {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
