.jumboContainer{
    position: absolute;
    height: 400px;
    width: 100%;
    max-width: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.jumbo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.googleLogin{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.loginTitle{
    text-align: center;
}