.jumboContainer {
    position: absolute;
    height: 400px;
    width: 100%;
    max-width: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.jumbo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .jumboTitle {
        font-size: 2.8em;
        margin-bottom: 8px;
        margin-top: 8px;
        margin-bottom: 0px;
        position: relative;

        .beta {
            font-size: 0.3em;
            margin-left: 4px;
        }
    }

    .jumboSubtitle {
        margin-top: 8px;
        font-size: 1.2em;
        padding: 0px 8px;
        margin-bottom: 0px;
    }

    .jumboListWrapper {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .jumboList {
        text-align: center;
        width: fit-content;
        position: relative;
        font-weight: 700;
        width: 300px;
    }
}

.googleLogin {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.loginTitle {
    text-align: center;
}
