@import '../../styles/baseStyles.module.scss';
.postWrapper {
    background-color: var(--color-bg-canvas-inset);
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title {
    font-weight: 700;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.link {
    margin: 8px 0px;
    display: flex;
    align-items: center;
    .linkText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }

    .linkIcon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
    }
}

.postPreviewFooter {
    display: flex;
    .author {
        display: flex;
        align-items: center;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .postDate {
        min-width: 100px;
        flex-grow: 1;
        text-align: end;
    }
}

.postMeta {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.inRoomIconWrapper {
    display: inline-block;
    height: 100%;
    position: relative;
}

.inRoomIcon {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    &.crossPost {
        font-size: 0.8em;
        margin-left: 2px;
        margin-right: 4px;
    }
}

.date {
    margin-right: 8px;
}
